biopython==1.81
matplotlib==3.5.2
tensorboard==2.11.2
tensorflow==2.11.0
imageio==2.19.3     # for creating gifs
pillow>=8.3.2       # for creating gifs
ffmpeg-python==0.2.0 # for creating gifs
memdof
scipy